/* Estilos generales para el cuerpo */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #143c8c, #91b0d5); /* color1 y color2 */
}

/* Contenedor del formulario */
.update-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

/* Título */
.update-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #1f4077; /* color3 */
}

/* Estilo de las cajas de entrada */
.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #6487b1; /* color4 */
    outline: none;
    color: #1f4077; /* color3 */
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Etiqueta de los campos de entrada */
.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #b5c7da; /* color5 */
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Animación para la etiqueta cuando el input está enfocado o lleno */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #143c8c; /* color1 */
    font-size: 12px;
}

/* Estilos del botón */
button {
    background-color: #1f4077; /* color3 */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6487b1; /* color4 */
}
