/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5c7da;
}

.header {
    background-color: #143c8c;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;
}

.project-card {
    background-color: #91b0d5;
    border: 1px solid #1f4077;
    border-radius: 8px;
    width: 300px;
    padding: 1rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-card h2 {
    color: #1f4077;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.project-card p {
    color: #143c8c;
    font-size: 0.9rem; /* Tamaño reducido */
    text-align: center;
    margin: 0.5rem 0 1rem;
}

.project-card button {
    background-color: #1f4077;
    color: #ffffff;
    border: none;
    padding: 0.4rem 0.8rem; /* Tamaño reducido */
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Tamaño de letra reducido */
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0 auto; /* Centra el botón */
}

.project-card button:hover {
    background-color: #6487b1;
}

.footer {
    background-color: #143c8c;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

