p {
    background-color: white;
}

button {
    margin: 0 0 0 10px;
}

#lists {
    display: flex;
    flex-wrap: wrap;
}

.list {
    background-color: var(--color2);

    width: 350px;
    height: min-content;

    margin: 15px 10px;
    padding: 0 15px;

    border: 1px solid black;
    border-radius: 15px;
}

.list h2 {
    margin-bottom: 5px;
}

.list form {
    margin-bottom: 15px;
}

.list div,
.list form {
    border-radius: 5px;
    padding: 5px;
}

.task,
.add-task-form input {
    margin: 0 10px 0 0;
}

.task-box,
.add-task-form {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
