
/* -------------------------------------- Diseño de tabla central para la informacion de usuario*/
.Contenido {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
/* -------------------------------------- Diseño de contenedor central para la informacion de usuario*/
.contenedor {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}
/* -------------------------------------- parte de foto */
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
/* -------------------------------------- informacion del usuario */
.contact-info {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
/* configuracion de los "p" */
.contact-info p {
    margin: 5px 0;
}
/* -------------------------------------- Seccion para sub-titulos */
.section-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}
/* -------------------------------------- Espacio para el logo */
.pr-item {

    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* -------------------------------------- Espacio para el logo */
.pr-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
/* -------------------------------------- Espacio para el logo */
.pr-item div {
    font-size: 14px;
}
/* -------------------------------------- Espacio para el logo */
.pr-item span {
    color: #666;
    font-size: 12px;
}
