/* Estilo general */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Campos de entrada */
input {
    margin: 10px 0;
}

/* Contenedor */
.small-container {
    background-color: var(--color2);
    width: 350px;
}
