@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

:root {
    --color1: #143c8c;
    --color2: #80a8d8;
    --color3: #1f4077;
    --color4: #6487b1;
    --color5: #b5c7da;
    --color6: #c5d3e8;
}

/* Global styles (all elements) */
* {
    font-family: "Outfit", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* Estilo general */
body {
    background: linear-gradient(var(--color6), var(--color5));
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--color1);
}

h1 {
    font-size: 2rem;
}

p {
    text-align: justify;
}

p,
input,
select,
textarea {
    width: 100%;
    max-width: inherit;

    border: 1px solid var(--color4);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    padding: 2rem;
}

fieldset button {
    float: right;
}

button {
    background-color: var(--color3);
    color: white;

    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: none;

    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
}

button:hover {
    box-shadow:
        0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.campo label {
    margin-bottom: 8px;
}

.campo textarea {
    height: 100px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    scroll-snap-align: center;
    scroll-snap-stop: always;

    background-color: var(--color2);
    width: 70%;
    max-width: inherit;

    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

/* Media Querys */

@media (min-width: 1250px) {
    .campos-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (max-width: 1250px) {
    .campos-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (min-width: 950px) {
    .campos-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (max-width: 950px) {
    .campos-2,
    .campos-3 {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
}