@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");

:root {
    --color1: #143c8c;
    --color2: #80a8d8;
    --color3: #1f4077;
    --color4: #6487b1;
    --color5: #b5c7da;
    --color6: #c5d3e8;
    --color7: #f8f9fa;
}

/* Global styles (all elements) */
* {
    font-family: "Outfit", sans-serif;
}

html {
    box-sizing: border-box;
}

/* Estilo general */
body {
    height: 100vh;
    margin: 0;
    background-color: var(--color7);
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    text-align: justify;
    width: 100%;
    max-width: inherit;
    box-sizing: border-box;
}

textarea {
    field-sizing: content;
}

input,
select,
textarea {
    width: 100%;
    max-width: inherit;

    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

fieldset {
    padding: 2rem;
}

fieldset button {
    float: right;
}

button {
    background-color: var(--color3);
    color: white;

    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    border: none;

    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    text-align: center;
}

button:hover {
    background-color: #acb6e5;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.campo label {
    margin-bottom: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Input box styling */
.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Label for input fields */
.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Move label when input is focused or not empty */
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--color1);
    font-size: 12px;
}

.container {
    background-color: var(--color2);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;

    width: 50%;
    max-width: inherit;

    border-radius: 10px;
    padding: 40px;
}

.container h1,
.container h2 .container h3 {
    margin-bottom: 30px;
}

/* Media Querys */

@media (min-width: 1400px) {
    .campos-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (max-width: 1400px) {
    .campos-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (min-width: 1100px) {
    .campos-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        column-gap: 2rem;
    }
}

@media (max-width: 1100px) {
    .campos-2,
    .campos-3 {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }
}

.success {
    color: #4caf50;
    background-color: #d4edda;
    padding: 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.error {
    color: #e74c3c;
    background-color: #f8d7da;
    padding: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 20px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

/* ----------------------------------------------------------------------------------------------------------------------barra */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -250px; /* Oculta la barra lateral a la derecha */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    font-size: 36px;
    margin-left: 15px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo opaco */
    z-index: 1;
    display: none; /* Oculto por defecto */
}
